<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        lang="ja" prefix="og: http://ogp.me/ns#">
<head>
    <meta charset="UTF-8">
    <title>BTraining</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.11.1/css/lightbox.min.css" integrity="sha256-tBxlolRHP9uMsEFKVk+hk//ekOlXOixLKvye5W2WR5c=" crossorigin="anonymous" />
</head>
<body>

<!--<div th:insert="fragment/header"></div>-->
<div class="container">
    <div class="row justify-content-center" style="margin-top: 12px">
        <div class="col-12 col-md-10 col-lg-8">
            <h1 id="head_text">BTraining</h1>
            <h3>テンプレートサンプル</h3>
            <section>
                <div th:text="${message}"></div>
            </section>
        </div>
    </div>
</div>
</body>
</html>
